<html>

<head>
    <title>UW IoT Lab2</title>
</head>

<body>

    <h2>UW IoT | Lab 2: GPIO API and WebApp</h2>
    <h3>Switch: {{'On' if switch else 'Off'}}</h3>
    <h4>YELLOW LED (on GPIO18):
        <span id="led1_state">{{'ON' if led1 else 'OFF'}}</span>
    </h4>
    <h4>RED LED (on GPIO13): {{'ON' if led2 else 'OFF'}}</h4>

    <p>
        <button style="width:100px; height:50px; color:black; background:yellow" type='button' id='yellow_led_btn'>YELLOW LED</button><br>
        <button style="width:100px; height:50px; color:white; background:red" type='button' id='red_led_btn'>RED LED</button><br>
    </p>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>
        // start executing only after document has loaded
        $(document).ready(function() {
            // establish global variables for LED status
            var led1;
            var led2;

            // Let's read the current LED state
            function initial_conditions() {
                var d = $.Deferred();

                setTimeout(function() {
                    $.get('/leds/1', function(data) {
                        led1 = $.trim(data.split(':')[1]);
                    });

                    $.get('/leds/2', function(data) {
                        led2 = $.trim(data.split(':')[1]);
                    });

                    // console.log("Got my data now!");
                    d.resolve();
                }, 10);
                return d.done();
            }

            // Let's initialize our LED vars to the current LED state "ON"/"OFF"
            function led_status() {
                var d = $.Deferred();

                setTimeout(function() {
                    if (led1 === '0') {
                        led1 = "OFF"
                    } else {
                        led1 = "ON"
                    }
                    if (led2 === '0') {
                        led2 = "OFF"
                    } else {
                        led2 = "ON"
                    }
                    d.resolve();

                    console.log("RED:", led1);
                    console.log("GRN:", led2);
                }, 100);
                return d.promise();
            }

            // make sure to intialize synchronously (10ms back to back)
            initial_conditions().then(led_status);

            // The button click functions run asynchronously in the browser
            $('#yellow_led_btn').click(function() {
                var params = 'led=1';
                console.log('Led Toggle with params:' + params);
                $.post('/ledtoggle', params, function(data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    $.get('/leds/1', function() {
                        led1 = $.trim(data.split(':')[1]);
                        $('#led1_state').text(led1);
                    });
                });
            });

            // The button click functions run asynchronously in the browser
            $('#red_led_btn').click(function() {
                if (led2 === "OFF") {
                    led2 = "ON";
                } else {
                    led2 = "OFF";
                }
                var params = 'led=2&state=' + led2;
                console.log('Led Command with params:' + params);
                $.post('/ledcmd', params, function(data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });

        });
    </script>

</body>

</html>